.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: white;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}

.logo {
    font-family: serif;
    font-size: 24px;
    color: #426B1F;
}

.italic-text {
    font-style: italic;
}

body {
    background-color: #f9f9f9;
    text-align: center;
    padding-top: 60px;
    font-family: 'Inter', sans-serif; 
    background-color: #F5F5F5; 
}

body > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 40px;
}

p, button {
    font-weight: 400;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer; 
}

.flashcard {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FAFAF5;
    border: 1px solid #E6E6E6;
    width: 700px;
    height: 400px;
}

/* for index page */
.green-flashcard {
    background-color: #426B1F;
    color: white;
    width: 350px;
    margin: 0 auto 30px auto;
    padding: 25px;
    border-radius: 8px;
}

.green-flashcard {
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.green-flashcard:hover {
    background-color: #538528;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.green-flashcard h2 {
    font-size: 20px;
    font-weight: 300px;
    margin-bottom: 6px;
    margin-top: 0;
}

.green-flashcard p {
    font-size: 15px;
    margin: 0;

}

/* for definition page */


/* welcome page style */ 

.header_welcome {
    font-family: serif;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: white;
}