/* melanies navbar- just to test for now*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: serif;
  color: #426B1F;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links a {
  text-decoration: none;
  font-size: 0.95rem;
  color: #426B1F;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #1e3f02;
}
/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: white;
    margin-bottom: 80px;
    margin-top: -65px;
}

.navbar h1 {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.0rem;
    color: #426B1F;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-right a {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.nav-right h3 {
    margin: 0px;
    font-family:'Times New Roman', times, serif;
    font-weight: 500;
    color: #FFFFFF; 

}       

.greeting-box {
    background-color: #538528;
    border-radius: 10px;
    padding: 15px;
}

.logo {
    font-family: serif;
    font-size: 24px;
    color: #426B1F;
} */

.italic-text {
    font-style: italic;
}

body {
    background-color: #f9f9f9;
    text-align: center;
    padding-top: 60px;
    font-family: 'Inter', sans-serif; 
    background-color: #F5F5F5; 
}

body > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    font-weight: normal;
    margin-bottom: 40px;
}

p, button {
    font-weight: 400;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer; 
}

.flashcard {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #FAFAF5;
    border: 1px solid #E6E6E6;
    width: 700px;
    height: 400px;
}

/* for index page */
.green-flashcard {
    background-color: #426B1F;
    color: white;
    width: 350px;
    margin: 0 auto 30px auto;
    padding: 25px;
    border-radius: 8px;
}

.green-flashcard {
    cursor: pointer;
    transition: all 0.2 ease-in-out;
}

.green-flashcard:hover {
    background-color: #538528;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.green-flashcard h2 {
    font-size: 20px;
    font-weight: 300px;
    margin-bottom: 6px;
    margin-top: 0;
}

.green-flashcard p {
    font-size: 15px;
    margin: 0;

}

/* for definition page */


/* welcome page style */ 

/* box with content */

.content-box {
    margin: 0;
    background-color: #FAFAF5;
    border: 2px solid #cdcccc;
    border-radius: 20px;
    max-width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    margin-bottom: 70px;
}

.content-box h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* centralizing the page */ 
.content-box ul {
    text-align: left;
    display: inline-block;
 
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.anterior {
    min-width: 300px;
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #A4853D;
    border-radius: 10px;
    border: none;   
}   

.next-page {
    display: flex;
    align-items: center;
    white-space: nowrap;
    min-width: 300px;
    gap: 1px;
    color: #FFFFFF;
    background-color: #538528;
    border-radius: 10px;
    border: none;  
    width: 100%; 

}

.next-page img {
    width: 40px;
    height: 40px;
}

/* style for the real world page */ 

.real-world {
    padding-top: 0px;
    margin-top: -65px;
}

/*styling for diving in page */

.inner-box {
    background-color: #FAFAF5;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
}

.inner-box h3 {
    text-align: center;
    margin-bottom: 10px;
}

.inner-box ul {
    text-align: left;
    display: block;
    list-style-type: disc;
    margin-left: 20px;
}

/*styling for answer choices page*/

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}

.answer-btn {
    width: 80%;
    background-color: #9DB2BF;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    text-align: left;
    padding-left: 20px;
    font-size: 16px;
    cursor: pointer;
}